@model PostUrlVM;
@{
    ViewData["Title"] = "WelCome";
}

<section class="landing py-5">
    <div class ="container">
        <div class= "row align-content-center">
            <div class="col-lg-4">
                <img src="~/img/Welcome-img.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8">
                <h1 class="display-4"> More than just Shorter Links</h1>
                <p class="lead">
                    Build your brand's Recognition and get detailed insights onhow your links are performing.
                </p>
            </div>

        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="url-shorten-feature">
            <!-- Update action attribute to point to ShortenAction in Homecontroller-->
            <form class="url-shorten-form" itemid="url-shorten-form"
                  asp-controller="Home" asp-action="ShortenUrl">
                <div>
                    <input asp-for="Url" type="text" class="url-point"  placeholder="Shorten a link here..." autocomplete="off" />

                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-lg" style="">Shorten It!</button>
            </form>
            <div class="url-shorten-results"></div>
        </div>

    </div>
</section>
